{% extends 'base.html' %}

{% block title %}register{% endblock %}

{% load staticfiles %}

{% block content %}

<body class="text-center">
    <div class="jumbotron jumbotron">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <form class="form-signin" method="post">
                    <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal"><img src="{% static 'media/logo.png' %}" width="130px" height="55"/></h1>
                    {% csrf_token %}
                    <fieldset>
                        {{form.non_field_erros}}
                        {% for field in form %}
                        <div class="col-md-auto ">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                        <button class="btn btn-primary btn-block" type="submit">Entrar</button>
                        <fieldset>
                </form>
                <p></p>
                <a href="{% url 'home' %}" class="btn btn-secondary btn-block" role="button">Vá para a página inicial</a>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="d-flex justify-content-center">
                <span class="text-muted">Desenvolvido por Mad Insight</span>
            </div>
        </div>
    </footer>
</body>
{% endblock %}
