{% extends 'base.html' %}

{% block title %}register{% endblock %}

{% load staticfiles %}

{% block content %}

<body class="text-center">
    <div class="jumbotron jumbotron">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <form class="form-signin" method="post">
                    <h1 class="h3 mb-3 font-weight-normal"><img src="{% static 'media/logo.png' %}" width="130px" height="55"/></h1>
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %}
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label>
                            {{ field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                        </div>
                    {% endfor %}
                    <button class="btn btn-success btn-block" type="submit">Entrar</button>
                </form>
                <p></p>
                <a href="{% url 'home' %}" class="btn btn-secondary btn-block" role="button">Vá para a página inicial</a>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="d-flex justify-content-center">
                <span class="text-muted">Desenvolvido por Mad Insight</span>
            </div>
        </div>
    </footer>
</body>
{% endblock %}
